.postsBlock {
    /*padding: 20px;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.addPost {
    color: #9ea3b9;
}





.textArea {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;

    min-height: 120px;
    margin-bottom: 20px;

    background-color: #f8f9fa;
    border-top: 3px solid gray;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 0 2px #e4e4e4;

}
.textField {
    width: 300px;
    padding: 10px ; /* add padding */

    font-size: 1.2em; /* increase the font size */

    border-radius: 10px; /* add rounded corners */
    box-shadow: 3px 3px 10px #ccc; /* add a subtle shadow */
}
.addPostBtn {
    cursor: pointer; /* change cursor to a pointer on hover */


    font-size: 1.2em; /* increase the font size */
    color: white; /* white text color */
    text-align: center; /* center the text */

    background-color: #9ea3b9; /* green background color */
    border-radius: 4px; /* add rounded corners */
    box-shadow: 3px 3px 10px #ccc;

    transition: background-color 0.3s ease; /* add a transition effect to the background color */
}
.addPostBtn:hover {
    background-color: #b9bcc9; /* change the background color on hover */
}
