

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    padding: 5px;
    
    color: #e3541b;

    border: red 1px solid;
}


.textarea {
    display: block;

    width: 100%;

    font-weight: 400;
    line-height: 1.5;
    color: #666;

    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    outline: none;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
