


.header {
    grid-area: h;
    background-color: rgba(81, 145, 197, 0.87);
}
.header img {
    width: 80px;
    padding-left: 25px;
}

.loginBlock {
    float: right;
}
.loginBlock a {
    color: white;
}