.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}
.dialogsItems .active {
    color: #e5b044;

}
.dialogsItems a {
    text-decoration: none;
}

.messages {
    padding: 20px
}

.message {

}





